.Finishing-container {
  background-color: white;
  margin: 1.7em;
  padding: 1.5em;
  border-radius: 15px;
  position: absolute;
  top: 4.5em;
  font-family: "Ubuntu", sans-serif;
}

.Finishing-container > h2 {
  color: hsl(213, 96%, 18%);
  margin-top: 0em;
}

.Finishing-container > p {
  color: hsl(231, 11%, 63%);
  margin-top: -0.6em;
  line-height: 1.5;
  font-size: 15px;
}

.Finishing-container > .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1em;
}

.Finishing-container > .box > div > .p1{
    color: hsl(213, 96%, 18%);
    font-size: 13px;
    font-weight: bold;
}
.Finishing-container > .box > div > .p2{
    color: hsl(231, 11%, 63%);
    margin-top: -0.7em;
    font-size: 13px;
}

.Finishing-container > .box > .p3{
    color: hsl(213, 96%, 18%);
    font-size: 13px;
    font-weight: bold;
    
}

hr{
  margin-top: -0.2em;
  border: 0.1px solid ;
  color: hsl(231, 32%, 92%);
  margin-left: 1em;
  
}

.double-check{
  margin-left: 1.3em;
  font-family: "Ubuntu", sans-serif;
  color: hsl(231, 11%, 63%);
  font-size: 13px;
}

.double-check-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.5em;
  font-family: "Ubuntu", sans-serif;
}

.double-check-cont > p{
  font-size: 13px;
  color: hsl(213, 96%, 18%);

}

.double-check-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
}

.double-check-total > p{
  font-size: 13px;
  font-weight: bold;
  color: hsl(243, 100%, 62%);

}